<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="google-signin-client_id" content="1048851588889-foum7l951tt9b233lbjd7plugrofr3nn.apps.googleusercontent.com">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="https://apis.google.com/js/platform.js" async defer></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
